.form__modal{
    display: none;
}
.form__bg {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;
    z-index: 10000;
    background: #000;
}
.form {
    width: 704px;
    background-color: white;
    position: fixed;
    top: 50%;
    opacity: 1;
    left: 50%;
    z-index: 100000000;
    transform: translate(-50%, -50%);
    padding: 32px;
    padding-bottom: 40px;
}
.form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 24px;
    border-bottom: 1px solid #DCDFE2;;
}
.form__title {
    color: #000;
    font-family: Alegreya;
    font-size: 32px;
    font-weight: 800;
    line-height: 40px; /* 125% */

}

.form__closer-btn {
    background: transparent;
    transition: 0.5s;
}
.form__closer-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.form__orders {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
   
}
.order {
    position: relative;
    display: flex;

    align-items: center;
    width: 100%;
    padding: 16px 0;
    border-bottom: 1px solid #DCDFE2;;
    
  

}
.order__item-pizza {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    h4{
        font-size: 18px;
        line-height: normal;
    }
   
    img{
        border-radius: 100%;

    }
    p{
        color: #000;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 150% */
    }
    
}
.order__item-pizza::before{
    content: "";
    background: url(/img/icons_select/мясная.png) center/cover no-repeat;
    width: 11.978px;
    height: 10.172px;
    position: absolute;
    top: 0;
    left: 0;
}
.order:first-of-type .order__item-pizza::before{
    background: url(/img/icons_select/острая.png) center/cover no-repeat;
}
.order__item-img{
    width: 77.225px;
    height: 77.225px;
    margin-right: 12px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.order:nth-of-type(2n+1) .order__item-img{
    padding: 5px;
    border: 1px dotted #DCDFE2;
}
.order__item-count {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 87px;
}
.order__item--btn{
    background-color: #C5CBD5;
    border-radius: 100%;
    color: white;
    width: 24px;
    height: 24px;
    font-size: 20px;
    transition: 0.2s;
   
}
.order__item--btn:active{
    background-color: $red;
   
}
.order__item--btn:first-of-type{
    opacity: 0.5;
}

.order__count-text {
    border-radius: 4px;
    border: 1px solid #C4C7CA;
    background: #FFF;
    padding: 11px 18px;
    margin: 0 8px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
}

.order__amount {
    color: #000;
    font-family: Alegreya;
    font-size: 18px;
    font-weight: 800;
    span{
        font-size: 24px;
    }
}
.order__deleter {
    position: absolute;
    top: 10%;
    right: 0;
    transition: 0.5s;
}
.order__deleter:hover {
    transform: scale(1.5);
    
}
.form__totla-amount{
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 8px 0;
    color: #000;
    font-family: Alegreya;
    font-weight: 800; 

    h4{
        font-size: 18px;
        margin-right: 20px;
        line-height: 19px;
    }
    p{
        font-size: 18px;
        span{
            font-size: 32px;
            margin-right: 2px;
 
        }
    }
}
.form__contacts {
    h3{
        color: #000;
        font-family: Alegreya;
        font-size: 18px;;
        font-weight: 800;
        margin-bottom: 12px;
    }
}
.form__inputs {
    display: flex;
    flex-flow: row wrap;
    input{
        flex-grow: 1;
        width: 40%;
        border-radius: 4px;
        border: 2px solid #C4C7CA;
        padding: 13px 0 12px 13px;
        margin-bottom: 24px;
    }
    input:focus{
        border: 2px solid #8FC9FF;
    }
    input:active{
        border: 2px solid #8FC9FF;
    }
    input:first-of-type{
        margin-right: 32px;
        
    }
}
.invalid-input {
    border: 2px solid red;
}
.form__radio {
    div:first-of-type{
        margin-bottom: 18px;
    }

    label{
        color: #000;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        margin-left: 8px;
        line-height: 18px;
        

    }
}
.form__select{
    display: none;
}
.form__submit {
    width: 240px;
    height: 52px;
    line-height: 52px;
    margin: 32px 0 23px 0;
}
.form__link {
    display: inline-block;
    color: #848A9A;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}